.book-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.book-card h3 {
  margin: 0;
  font-size: 18px;
}

.book-card button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.book-card button:hover {
  background-color: #ff1a1a;
}

#showDialog {
  margin-bottom: 20px;
}


/* Constraint validation */

input.valid {
  border-color: #090;
  background-color: #dfd;
}

input.invalid {
  border-color: #900;
  background-color: #fdd;
}

.error {
  margin-top: 5px;
  padding: 0.3em;
  font-size: 0.9em;
  color: #fff;
  background-color: #900;
  display: none;
  border-radius: 4px;
}

.error.active {
  display: block;
}
